/* Footer.css */

footer p{
    background: rgb(4, 4, 45);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Outfit;
}

footer p {
    margin: 0;
    font-size: 14px;
}